@font-face {
    font-family: "applemono";
    src: url('/fonts/apple2mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.dash {
    position: absolute;
    color: white;
    font-family: 'applemono';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name {
    background-color: black;
    text-align: center;
    padding: 5px 10px;
    width: 300px;
    margin: 10px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    text-align: center;
}
.links > div {
    background-color: black;
    padding: 5px 10px;
    margin: 10px;
}

#date {
    background-color: black;
    margin-left: 10px;
    padding: 5px 10px;
    width: 400px; 
    text-align: center; 
}



